*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: #fff;
  text-color: #555;
  font-family: 'Lato, Árial', 'sans-serif';
  font-size: 20px;
  font-weight: 300px;
  text-rendering: optimizeLegibility;
}
